@{
    ViewData["Title"] = "Amazon 2.0 Book Listings";
}
@model BooksViewModel


<!--Dynamically goes through the books and displays the five that were sent in for this page in the controller-->
@foreach (Book b in Model.Books)
{
    <partial name="ProjectSummary" model="b"/>
}
<br />
<!--Bootstrap to send through the tag helper to each link  -->
<div page-blah="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">

</div>

 
