@{
}
@* Creates an easy to enumerate through type *@
@model IEnumerable<string> 

<!--This creates all of the category filters for the different books-->

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-Category="" asp-route-pageNum="1" class="btn btn-outline-secondary">
        Home
    </a>
    @foreach (string c in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-Category="@c" asp-route-pageNum="1" class="btn @(ViewBag.SelectedType == c ? "btn-primary" : 
            "btn-outline-secondary")">@c</a>
        <!--So now it is looking for the book category in there inside the controller-->
    }
</div>


